@import 'variables';

.container__wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $light-orange;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  

  .row {
    margin: 20px 0;
    &::after,
    &::before {
      content: "";
      clear: both;
      display: block;
    }

    [class*="col-"] {
      float: left;
      min-height: 1px;
      padding: 10px;
      // @media screen and #{$tablet-portrait} {
      //   padding: 0 2em;
      // }
    }

    @for $i from 1 through 12 {
      .col-#{$i} {
        width: 100%;
        @media screen and (min-width: 768px) {
          width: (100%/12) * $i;
        }
      }
    }
  } 
}
