// MEDIA QUERIES

$smartphone: 'only screen and (max-width: 320px)';
$tablet-portrait: 'only screen and (min-width: 576px)';
$ipad-up: 'only screen and (min-width: 768px)';
$desktop: 'only screen and (min-width: 992px)';
$large-desktop: 'only screen and (min-width: 1200px)';

// FONTS 

$main-font: 'Rajdhani', sans-serif;
$modal-font: 'Lato', sans-serif;

// COLORS

$orange: #f4c637;
$light-orange: #f2fd90;
$dark-green: #008000;
$light-green: #1aff1a;
$button-color: #cc8100;