.about {
  font-family: $main-font;
  font-weight: 600;
  font-size: 1.2em;

  @media #{$ipad-up} {
    height: 58vh;
  }

  &__title {
    margin-bottom: 2em;
  }

  &__list {
    list-style-type: decimal;

    li {
      margin: 0.5em 0 0.5em 0.5em;
      font-size: 0.9em;

      @media #{$ipad-up} {
        margin: 0.8em 0 0.8em 1em;
        font-size: 0.9em;
      }
    }

    ul {
      list-style: square;
      margin-left: 1em;
    }
  }
}