.footer {
  font-family: $main-font;
  font-size: 0.9em;
  font-weight: 500;
  width: 100%;
  height: 5vh;
  background-color: $orange;
  display: flex;
  align-items: center;

  @media #{$ipad-up} {
    font-size: 1.1em;
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  .icons {
    margin-left: 0.5em;

    a {
      margin: 0.1em;
      color: #000000;

      @media #{$ipad-up} {
        margin: 0.2em;
      }
    
      
      &:hover {
        color: #4d4dff;
      }
    }
  }
  span {
    font-weight: 700;
  }
}