.header {
  height: 40vh;
  width: 100%;
  background-color: $orange;
  box-shadow: inset 0 0 20px $dark-green;

  @media #{$large-desktop} {
    height: 25vh;
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-family: $main-font;
    font-size: 2.5em;
    font-weight: 500;
    color: $dark-green;
  
    @media #{$tablet-portrait} {
      font-size: 3.5em;
    }
    @media #{$large-desktop} {
      font-size: 4em;
    }
  }
}
