.main__navigation {
  
  .main__button {
    background-color: $orange;
    font-family: $main-font;
    font-size: 1.3em;
    font-weight: 500;
    color: $button-color;
    border: none;
    box-shadow: inset 0 0 5px $orange;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    cursor: pointer;
    outline: none;

    p {
      display: inline-block;
    }
  }

  .active {
    background-color: #fff;
    font-weight: 600;
    text-decoration: aqua;
  }

  .main__button p::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color 1s ease;
  }
  
  .main__button p:hover::after {
    width: 100%;
    background: $dark-green;
  } 
}

.main__wrapper {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 2em;
}

.list__item {
  width: 100px;
  height: 300px;
  border: 1px solid springgreen;
  z-index: 0;

  .list__item--inner {
    width: 100%;
    height: 100%;
    font-family: $main-font;  
    text-align: center;
    cursor: pointer;
    position: relative;
    
    &:hover {
      background-color: rgba(230,246,93, 0.3);
      font-size: 0.9em;
    }
    .list__item--name {
      font-weight: 500;
      font-size: 1.2em;
    }
    .list__item--img {
      margin: 1.5em;
      height: 180px;
    }
  }
}
.load-info {
  color: $dark-green;
  font-size: 3.5em;
  font-weight: 500;
  font-family: $main-font;
  text-align: center;
}
