div .modal__overlay {
  background: rgba(116, 88, 5, 0.5);
  display: flex;

  @media #{$ipad-up} {
    align-items: center;
  }

  .Modal-modal-0-1-3 {
    max-width: 768px;
  }
  .modal__content {
    border-radius: 0.8em;
    font-family: $modal-font;
    font-weight: 500;
    font-size: 1.1em;
    
    .modal__wrapper {
      display: flex;
      flex-direction: column;
      
      @media #{$ipad-up} {
        flex-direction: row;
      }
      .modal__main {
        display: flex;
        flex-direction: column;

        @media #{$ipad-up} {
          min-width: 550px;
        }
  
        .modal__upper { 
          display: flex;
          flex-direction: column;
    
          @media #{$ipad-up} {
            flex-direction: row;
          }
    
          .modal__left {
            display: inherit;
            justify-content: center;
    
            &--img img {
              height: 15em;
              padding: 1em 2em;
    
              @media #{$ipad-up} {
                height: 23em;
                padding: 2em 3em;
              }
            }
          }
    
          .modal__right {
            padding: 0.8em;
    
            &--name {
              text-align: center;
              color: $light-green;
              font-size: 1.4em;
              font-weight: 700;
              margin-bottom: 0.2em;
    
              @media #{$ipad-up} {
                font-size: 1.6em;
              }
            }
    
            &--tagline {
              text-align: center;
              color: #a9a9a9;
              font-size: 0.7em;
              font-style: italic;
    
              @media #{$ipad-up} {
                font-size: 0.8em;
              }
            }
    
            &--values {
              font-size: 0.9em;
              margin: 1em 0em;
              
              p {
                margin: 0.2em 0em;
    
                span {
                  font-weight: 700;
                }
              }
            }
    
            &--description {
              padding-top: 0.3em;
              font-size: 0.9em;
              line-height: 1.2em;
              color: $dark-green;
              font-style: italic;
    
              @media #{$ipad-up} {
                font-size: 1em;
                line-height: 1.4em;
              }
            }
          }
        }
    
        .modal__more {
          height: 3em;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
    
          &--button {
            cursor: pointer;
            font-weight: 700;
            font-size: 0.9em;
            color: $dark-green;
            background-color: #e6e6e6;
            border-radius: 0.5em;
            padding: 0.7em;
            transition: 0.6s;
    
            &:hover {
              color: $light-green;
            }
          }
        }
    
        .more {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.5em;
    
          @media #{$ipad-up} {
            padding: 0.5em 2em 2em 2em;
          }
    
          &__top {
            p {
              font-size: 0.76em;
              color: darkgray;
              font-style: italic;
              margin: 0.2em 0;
            }
    
            &--food {
              margin-top: 1em;
    
              h1 {
                margin-bottom: 0.5em;
                color: $dark-green;
                font-size: 1.1em;
                font-weight: 700;
    
                @media #{$ipad-up} {
                  font-size: 1.3em;
                }
              }
    
              ul li {
                margin-left: 1.4em;
                font-size: 0.8em;
                line-height: 1.3em;
                list-style: square;
    
                @media #{$ipad-up} {
                  font-size: 0.9em;
                }
              }
            }
          }
    
          &__bottom {
            margin-top: 1.2em;
            border-top: 1px solid lightgrey;;
            padding-top: 1em;
    
            h1 {
              font-size: 1.1em;
              margin-bottom: 0.4em;
              color: $dark-green;
              font-weight: 700;
    
              @media #{$ipad-up} {
                font-size: 1.3em;
              }
            }
    
            &--tips {
              font-size: 0.8em;
              line-height: 1.2em;
    
              @media #{$ipad-up} {
                font-size: 0.9em;
              }
            }
          }
        } 
      }
      .modal__similar {
        margin-top: 1.2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        @media #{$ipad-up} {
          min-width: 218px;
        }

        & > h1 {
          color: #b3b3b3;
          font-weight: 400;
          font-size: 1.1em;
          font-style: italic;
          margin-bottom: 1.3em;
        }

        & > div {
          display: flex;
          flex-direction: column;

          .modal__similar--item {
            position: relative;
            width: 100%;  
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3em;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
            img {
              height: 150px;
            }

            p { 
              width: 80%;
              font-size: 0.76em;
              margin-top: 0.5em;
              color: $dark-green;
              font-weight: 700;
              text-align: center;
            }
          }
        }
      }
    }
  }
}