.no-match {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 3em;
    display: block;
    margin: 0.5em 0;
  }
}